<div class="animated fadeIn fast bg-white p-4 mb-4 mx-2 rounded overflow-hidden shadow-lg" >
  <img [src]="character.img" class="card-img-character" [alt]="character.nombre">
  <hr>
  <div>
    <h4 class="text-2xl mb-1">{{ character.nombre }}</h4>    
    <h6 class="font-semibold" *ngIf="character.alias">( {{ character.alias }} )</h6>
    <p>{{ character.summary }}</p>
    <p><small class="text-xs">Nacimiento: {{ character.nacimiento }} ( {{character.edad}} )</small></p>
    <button (click)="showCharacter()" type="button" class="w-full mt-3 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Ver más...</button>
    <!-- <a [routerLink]="['/heroe', i]">Ver más link... </a> -->
  </div>
</div>