<div class="bg-white p-4">
  <h1 class="text-5xl text-gray-800">One Piece</h1>
  <p>
    Es un manga escrito e ilustrado por Eiichirō Oda. Comenzó a publicarse en la revista japonesa Weekly Shōnen Jump el 22 de julio de 1997. Shueisha publica los capítulos en volúmenes. Por otra parte, Toei Animation realiza el anime y se transmite en Fuji TV desde el 20 de octubre de 1999 el cual está en emisión actualmente. 
  </p>  
  <p>
    Los Piratas de Sombrero de Paja, principalmente conocidos como la Banda de Sombrero de Paja (Mugiwaras), es una banda de piratas original del East Blue, pero tiene miembros de diferentes partes del mundo. Ellos son el foco y los principales protagonistas de la trama del manga y el anime de One Piece.
  </p>
  <img class="mt-4" src="../../../assets/img/mugiwaras.jpg" alt="">
</div>
<div class="bg-blue-100 border-t-4 border-blue-300 rounded-b text-blue-800 px-4 py-3 shadow-md mt-4 mb-32 lg:mb-0" role="alert">
  <div class="flex">
    <div class="py-1"><svg class="fill-current h-6 w-6 text-blue-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
    <div>
      <p class="font-bold">Referencias - Recursos </p>
      <p class="text-sm">Imagenes de personajes: 
        <a class="hover:underline" href="https://www.pngocean.com/search?png=one+piece" target="_blank">pngocean</a>
      </p>
      <p class="text-sm">Información de personajes: 
        <a class="hover:underline" href="https://onepiece.fandom.com/es/wiki/Piratas_de_Sombrero_de_Paja
        " target="_blank">onepiece.fandom</a>
      </p>
    </div>
  </div>
</div>
<img class="mt-4 fixed bottom-0 left-0 w-24 sm:w-32 lg:w-48" src="../../../assets/img/personaje-fixed.png" alt="">
<img class="mt-4 fixed bottom-0 right-0 w-24 sm:w-32 lg:w-48" src="../../../assets/img/personaje-fixed2.png" alt="">