<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <h1 class="display-4">One Piece</h1>
  <p class="lead">
    Es un manga escrito e ilustrado por Eiichirō Oda. Comenzó a publicarse en la revista japonesa Weekly Shōnen Jump el 22 de julio de 1997. Shueisha publica los capítulos en volúmenes. Por otra parte, Toei Animation realiza el anime y se transmite en Fuji TV desde el 20 de octubre de 1999 el cual está en emisión actualmente. 
  </p>  
  <img class="img-fluid animated fadeIn fast" src="../../../assets/img/mugiwaras.jpg" alt="">
</div>