<nav class="navbar navbar-expand-lg navbar-sky">
  <a class="navbar-brand"  routerLink="/">
    <img src="assets/img/logo.png" class="navbar-brand-img" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto navbar-flex-grow">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/personajes">Personajes</a>
      </li>
    </ul>    
    <div class="navbar-flex-grow text-center">
      <a class="" href="https://github.com/LidiaRamirez/angular-spa-udemy" target="_blank">
        <img src="assets/img/github-logo.png">
      </a>
    </div>
  </div>
</nav>