<nav class="flex items-center py-4 relative z-10 navbar">
  <a class="w-1/3"  routerLink="/">
    <img src="assets/img/logo.png" class="ml-4 navbar-brand-img" alt="logo">
  </a>
  <ul class="w-1/3">
    <li class="ml-4" routerLinkActive="active" class="flex justify-center">
      <img src="assets/img/skull.png" alt="icono" class="mr-2">
      <a routerLink="/personajes" class="font-bold hover:text-blue-400 text-gray-900 md:text-gray-700">Personajes</a>
    </li>
  </ul>
  <div class="w-1/3 flex justify-end">
    <a href="https://github.com/LidiaRamirez/angular-spa-udemy" target="_blank">
      <img src="assets/img/github-logo.png" class="mr-4">
    </a>
  </div>  
</nav>